<!DOCTYPE html>
<html>
  <head>
    <title>Portal</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/" method="POST">
		<input name="key">
		<br>
		<button type="submit" name="sub"> Connect </button>
	</form>
  </body>
</html>
