<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FlashLAB</title>
</head>
<body style="background-color:#6abea7; font-family: Verdana">
	<br>
	<center> <h2> Coming soon ... </h2>
	<br><br><br>
	<img src="img/logtrans.png"
		style=" 
		height: auto; 
	    width: auto; 
	    max-width: 250px; 
	    max-height: 250px;"/> 
	</center>
</body>
</html>


